<link rel="stylesheet" href="/index.css">
<body>
    <h1 class="skill">Skill</h1>
    <div class="flexbox">
        {{#with myData.skill}}
            <div class="skbox">
                <li class="ctnsk">
                    <div class="progress-circle progress-75"><span>75</span></div>
                    <span class="first-block">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        HTML</span>
                </li>
                <li class="ctnsk">
                    <div class="progress-circle progress-30"><span>70</span></div>
                    <span class="first-block">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        CSS</span>
                </li>
                <li class="ctnsk">
                    <div class="progress-circle progress-20"><span>20</span></div>
                    <span class="first-block">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        JAVASCRIPT</span>
                </li>
                <li class="ctnsk">
                    <div class="progress-circle progress-55"><span>55</span></div>
                    <span class="first-block">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        PHP</span>
                </li>
                <li class="ctnsk">
                    <div class="progress-circle progress-10"><span>10</span></div>
                    <span class="first-block">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        JAVA</span>
                </li>
                <li class="ctnsk">
                    <div class="progress-circle progress-20"><span>20</span></div>
                    <span class="first-block">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        JSON</span>
                </li>
                <li class="ctnsk">
                    <div class="progress-circle progress-50"><span>50</span></div>
                    <span class="first-block">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        SQL</span>
                </li>
            </div>
        {{/with}}
    </div>
</body>