@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color:rgb(163, 163, 163);
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 5%;
}

.logo {
    padding: 9px 25px;
    font-size: 16px;
    font-weight: 820;
    color: #24252a;
    background-color: #FF9000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    background-color: #f5a237d2 ;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover{
    color: #FF9000;

}

.contact {
    margin-left: auto;
    padding: 9px 25px;
    font-size: 16px;
    font-weight: 720;
    color: #24252a;
    background-color: #FF9000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact:hover {
    background-color: #f5a237d2 ;
}

.bg {
   
    display: flex;
    box-sizing: border-box;
    background-size: cover;
}

.content {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    box-sizing: border-box;
    padding: 130px 0px;
}

.image {
    margin-left: 100px;
    width: 55%;
    -moz-border-radius: 700px;
    -webkit-border-radius: 700px;
    border-radius: 700px;
}

main {
    box-sizing: border-box;
}

.idx1 {
    padding-top: 150px;
    padding-left: 7.8%;
    color:#ffffff ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.idx2 {
    padding-top: 10px;
    padding-left: 7.8%;
    color:#ffffff ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    line-height: 35px;
}

.ft {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 40px;
}

.abm {
    padding-top: 10px;
    padding-left: 7.8%;
    margin-top: 50px;
    color:#ffffff ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.edt {
    padding-top: 10px;
    padding-left: 15%;
    margin-top: 50px;
    color:#000000 ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.exp {
    padding-top: 10px;
    padding-left: 105px;
    margin-top: 50px;
    color:#000000 ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.skill {
    padding-top: 10px;
    padding-left: 15%;
    margin-top: 50px;
    color:#000000 ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.cta {
    padding-top: 10px;
    padding-left: 7.8%;
    margin-top: 50px;
    color:#000000 ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.flexbox {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexboxcta {
  padding-top: 5x;
  padding-left: 10%;
  margin-top: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    padding-top: 10px;
    padding-left: 7.8%;
    display: block;
    box-sizing: border-box;
    width: 700px;
}

.edbox {
    padding-top: 10px;
    padding-left: 7.8%;
    padding-bottom: 100px;
    display: block;
    box-sizing: border-box;
    width: 700px;
}

.skbox {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 100px;
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.ctnsk {
    font-size: 20px;
    padding: 40px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    display: inline-block;
}
.progress-circle {
    position: relative;
    margin: 1rem;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #ebebeb; }
  
  .progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s; }
  
  .progress-circle span {
    font-size: 1rem;
    color: #dddddd;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin-left: -75px;
    margin-top: -75px;
    text-align: center;
    border-radius: 50%;
    background: rgb(48, 47, 47);
    z-index: 1; 
    font-size: 40px;
}
  
  .progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #dddddd; }
  
.progress-circle.progress-75:after {
    background-image: linear-gradient(100deg, #FF9000 30%, transparent 50%, transparent), linear-gradient(300deg, #ffffff 50%, #ffffff 50%, #ffffff); }
.progress-circle.progress-30:after {
    background-image: linear-gradient(100deg, #FF9000 15%, transparent 30%, transparent), linear-gradient(270deg, #ffffff 50%, #ffffff 50%, #ffffff); }
.progress-circle.progress-20:after {
    background-image: linear-gradient(90deg, #FF9000 10%, transparent 20%, transparent), linear-gradient(151.2deg, #ffffff 50%, #ffffff 50%, #ffffff); }
.progress-circle.progress-55:after {
    background-image: linear-gradient(100deg, #FF9000 40%, transparent 55%, transparent), linear-gradient(270deg, #ffffff 50%, #ffffff 50%, #ffffff); }
.progress-circle.progress-10:after {
    background-image: linear-gradient(90deg, #FF9000 3%, transparent 10%, transparent), linear-gradient(126deg, #ffffff 50%, #ffffff 50%, #ffffff); }      
.progress-circle.progress-20:after {
    background-image: linear-gradient(90deg, #FF9000 10%, transparent 20%, transparent), linear-gradient(252deg, #ffffff 50%, #ffffff 50%, #ffffff); }      
.progress-circle.progress-50:after {
    background-image: linear-gradient(90deg, #FF9000  30%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #ffffff 50%, #ffffff); }
      
/*-------------------------------------------------------*/
#fh5co-header,
.fh5co-cover {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  width: 322.5%;
  justify-content: center;
  margin-left: 0px;
}
#fh5co-header .overlay,
.fh5co-cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 144, 0, 0.9);
}
#fh5co-header .display-t,
.fh5co-cover .display-t {
  width: 100%;
  display: table;
}
#fh5co-header .display-tc,
.fh5co-cover .display-tc {
  display: table-cell;
  vertical-align: middle;
  height: 600px;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2, #fh5co-header .display-tc h3,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2,
.fh5co-cover .display-tc h3 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
.fh5co-cover .display-tc h1 {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 300;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#fh5co-header .display-tc h1 span,
.fh5co-cover .display-tc h1 span {
  padding: 4px 15px;
  position: relative;
}
#fh5co-header .display-tc h1 span:before,
.fh5co-cover .display-tc h1 span:before {
  position: absolute;
  top: 40px;
  left: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-left: -30px;
}
#fh5co-header .display-tc h1 span:after,
.fh5co-cover .display-tc h1 span:after {
  position: absolute;
  top: 40px;
  right: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-right: -30px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 34px;
  }
  #fh5co-header .display-tc h1 span:before,
  .fh5co-cover .display-tc h1 span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
  }
  #fh5co-header .display-tc h1 span:after,
  .fh5co-cover .display-tc h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
}
#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#fh5co-header .display-tc h3,
.fh5co-cover .display-tc h3 {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h3,
  .fh5co-cover .display-tc h3 {
    font-size: 14px;
  }
}
#fh5co-header .display-tc .profile-thumb,
.fh5co-cover .display-tc .profile-thumb {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  justify-content: center;
}
#fh5co-header .display-tc .fh5co-social-icons li a,
.fh5co-cover .display-tc .fh5co-social-icons li a {
  color: #fff;
}
#fh5co-header .display-tc .fh5co-social-icons li a i,
.fh5co-cover .display-tc .fh5co-social-icons li a i {
  font-size: 30px;
}

#fh5co-about,
#fh5co-resume,
#fh5co-skills,
#fh5co-started,
#fh5co-work,
#fh5co-blog,
#fh5co-pricing,
#fh5co-contact {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-about,
  #fh5co-resume,
  #fh5co-skills,
  #fh5co-started,
  #fh5co-work,
  #fh5co-blog,
  #fh5co-pricing,
  #fh5co-contact {
    padding: 3em 0;
  }
}

#fh5co-started {
  border-bottom: none;
}

.fh5co-bg-dark {
  background: #2F3C4F;
  background: #FF9000;
}
.fh5co-bg-dark .fh5co-heading h2 {
  color: #fff !important;
}

.info {
  margin: 0;
  padding: 0;
  width: 90%;
  float: left;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 3em;
  }
}
.info li {
  width: 50%;
  float: left;
  list-style: none;
  padding: 10px 0;
}
.info li:first-child {
  padding-top: 0;
}
.info li .first-block {
  width: 20%;
  display: inline-block;
  float: left;
  color: #000;
  font-weight: bold;
}
.info li .second-block {
  width: 60%;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #FF9000;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

#fh5co-about .fh5co-social-icons {
  margin: 0;
  padding: 0;
}
#fh5co-about .fh5co-social-icons li {
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-about .fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #2F3C4F;
  padding: 10px 10px 2px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#fh5co-about .fh5co-social-icons li a i {
  font-size: 20px;
}
#fh5co-about .fh5co-social-icons li a:hover {
  background: #FF9000;
}
